body {
    background-color: black;
}

.navbar {
    background-color: rgb(50, 45, 45);
    padding: 15px;
    border-radius: 7px;
    display: flex;
}

.navbar a {
    padding: 7px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;

}

.navbar a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(228, 221, 221, 0.1);
    border-radius: 7px;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.principal {
    text-align: center;
}

.principal h1 {
    padding: 20px;
    font-size: 30px;
    color: rgb(207, 27, 27);
    font-family: 'Times New Roman', Times, serif;
}

.principal p {
    font-size: 20px;
    padding: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

