body {
    background-color: black;
    background-size: cover;
}

/*navbar pae, não tem segredo*/

.navbar {
    background-color: rgb(50, 45, 45, 0.5);
    padding: 15px;
    gap: 14px;
    border-radius: 7px;
    display: flex;
    transition: 0.5s;
}

.navbar:hover {
    background-color: rgba(50, 45, 45);
    background-color: rgba(50, 45, 45, 0.5);
    transition: 0.5s;
}

.navbar a {
    position: relative;
    padding: 7px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.navbar a:hover {
    color: rgb(206, 34, 34);
    transition: 0.5s;

    font-size: 21px;
    border-radius: 7px;
}

/*logo que tá a direita na navbar, aquela lá*/

#logo {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#SCPWikiLogo {
    height: 45px;
}

/*Shove it é muito bom, slk*/

.principal {
    display: flex;
}

.principalselector {
    background-color: rgba(216, 197, 197, 0.3);
    width: 20%;
    height: 500px;
    border-radius: 7px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.infor {
    background-color: rgba(216, 197, 197, 0.3);
    width: 85%;
    height: 500px;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 10px;
}

.principalselector a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
    padding: 14px;
    font-size: 17px;
    transition: 0.5s;
    font-size: 30px;
}

.principalselector a:hover {
    color: rgb(206, 34, 34);
    transition: 0.5s;
}
