body {
    background-color: rgb(82, 82, 82);
}

.navbar {
    background-color: rgb(75, 74, 74);
    padding: 15px;
    border-radius: 7px;
    display: flex;
}

.navbar a {
    padding: 7px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;

}

.navbar a:hover {
    color: blue;
    background-color: rgba(228, 221, 221, 0.5);
    border-radius: 7px;
}