body {
    background-color: black;
    background-size: cover;
}

.navbar {
    background-color: rgb(50, 45, 45);
    padding: 15px;
    gap: 14px;
    border-radius: 7px;
    display: flex;
    transition: 0.5s;
}

.navbar:hover {
    background-color: rgba(50, 45, 45, 0.5);
    transition: 0.5s;
}

.navbar a {
    padding: 7px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.navbar a:hover {
    color: rgb(206, 34, 34);
    transition: 0.5s;
    border-radius: 7px;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.principal {
    text-align: center;
}

.principal h1 {
    padding: 20px;
    font-size: 30px;
    color: rgb(207, 27, 27);
    font-family: 'Times New Roman', Times, serif;
}

